<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}"></head>
<body>
<header th:replace="~{layout/plantilla :: header}"></header>

<main class="vista-proyectos">
    <!-- Título a la izquierda -->
    <div class="lado-izquierdo">
        <h1 class="titulo display-5 fw-bold">
            [[#{informacion.general.de}]]<br/>[[#{mis.proyectos}]]
        </h1>
    </div>

    <!-- Panel derecho con lista -->
    <section class="panel text-white">
        <h3 class="mb-4">[[#{lista.proyectos}]]</h3>

        <!-- Vacío -->
        <div th:if="${#lists.isEmpty(proyectos)}" class="alert alert-secondary">
            [[#{mensaje.no.hay.proyectos}]]
        </div>

        <!-- Lista -->
        <div th:each="p : ${proyectos}" class="mb-3">
            <a th:href="@{'/proyectos/detalle/' + ${p.idProyecto}}"
               class="btn btn-primary w-100 btn-proyecto d-flex justify-content-between align-items-center">
                <span th:text="${p.nombre}">[[#{nombre.proyecto}]]</span>
                <i class="fa-solid fa-up-right-from-square"></i>
            </a>
        </div>
    </section>
</main>


</body>
</html>