<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>        
        <section class="contacto" th:fragment="solicitud-de-reunion">
            <div class="contenedor-mensaje">
                <div class="contenedor-titulo">
                    <h2>Contacto</h2>
                </div>
                <div class="contenedor-medios">
                    <p>¿Tenés consultas o reclamos? ¡Estamos para ayudarte! Podés comunicarte con GRS Construcciones por los siguientes medios:</p>
                    <p>📞 Central telefónica: XXXX-XXXX</p>
                    <p>📧 Correo electrónico general: XX@gmail.com</p>
                </div>
            </div>
            <div class="contenedor-form-contacto">
                <form th:action="@{/contacto/enviar}" class="form-contacto" method="POST">
                    <label class="etiqueta">Asunto</label>
                    <input type="text" class="entrada" name="asunto" required>
                    <label class="etiqueta">Email</label>
                    <input type="email" class="entrada" required th:value="${correo}" name="correo" readonly>
                    <label class="etiqueta">Detalle</label>
                    <textarea rows="4" wrap="soft" name="detalle" required></textarea>
                    <button type="submit" class="guardar">Enviar</button>
                </form>
            </div>
        </section>

    </body>
</html>
