<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>        
        <section class="contacto" th:fragment="solicitud-de-reunion">
            <div class="contenedor-mensaje">
                <div class="contenedor-titulo">
                    <h2>[[#{contacto}]]</h2>
                </div>
                <div class="contenedor-medios">
                    <p>[[#{mensaje.reclamo}]]</p>
                    <p>[[#{mensaje.reclamo.telefono}]]</p>
                    <p>[[#{mensaje.reclamo.correo}]]</p>
                </div>
            </div>
            <div class="contenedor-form-contacto">
                <form th:action="@{/contacto/enviar}" class="form-contacto" method="POST">
                    <label class="etiqueta">[[#{asunto}]]</label>
                    <input type="text" class="entrada" name="asunto" required>
                    <label class="etiqueta">[[#{email}]]</label>
                    <input type="email" class="entrada" required th:value="${correo}" name="correo" readonly>
                    <label class="etiqueta">[[#{detalle}]]</label>
                    <textarea rows="4" wrap="soft" name="detalle" required></textarea>
                    <button type="submit" class="guardar">[[#{accion.enviar}]]</button>
                </form>
            </div>
        </section>

    </body>
</html>
