*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

.bg-dark{
    background-color: rgba(43, 45, 51, 1);
}

header{
    width: 100%;
    height: 15%;
    color: white;
    align-content: center;
}

.navegador{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 0.1fr;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
}

.nav-logo{
    align-content: center;
    justify-self: center;
}

.nav-lista{
    list-style: none;
    display: flex;
    padding: 0;
    column-gap: 4%;
    margin-left: 4%;
    margin-bottom: 0;
    align-self: center;
    grid-template-rows: 100%;
}

.nav-lista a{
    text-decoration: none;
    color: inherit;
    font-size: clamp(20px,calc(0.5em + 1vw),1.7rem);
}

.logo{
    min-width: calc(50% + 1vw);
    min-height: calc(40% + 1vh);
    max-width: calc(100% + 1vw);
    max-height: calc(100% + 1vh);
}

.contenedor-pefil{
    grid-column: 4;
    margin-right: 10%;
    display: grid;
    place-items: center;
}

.quienes-somos, .tipos-cons, .paquete-completo, .diseno-construccion, .solo-construccion, .contacto{
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    place-items: center;
}
.quienes-somos{
    background-image: url("/img/BG.jpg");
}

.tipos-cons{
    background-image: url("/img/tipos-cons.jpg");
    color: white;
}

.paquete-completo{
    background-image: url("/img/paqueteCompleto.png");
    color: white;
}

.diseno-construccion{
    background-image: url("/img/disenoContruccion.png");
    color: white;
}

.solo-construccion{
    background-image: url("/img/soloConstruccion.png");
    color: white;
}

h1{
    font-size: 5em;
}

h2{
    font-size: 3em;
    color: white;
}

p{
    color: white;
    text-align: justify;
}

.contenedor-home{
    position: relative;
    box-sizing: border-box;
    padding: 5%;
    width: 100%;
    height: 100%;
    justify-items: left;
    align-content: center;
}

.flecha-abajo{
    display: grid;
    place-items: center;
    width: 8%;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 95%;
    transform: translateY(-100%);
}

.flecha-arriba{
    display: grid;
    place-items: center;
    width: 8%;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    transform: translateY(-100%);
}

.contenedor-info{
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    place-items: center;
    box-sizing: border-box;
    padding: 5%;
    background-color: rgba(50, 58, 75, 1);
    opacity: 0.95;
    width: 100%;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.gestion{
    width: 100%;
    height: 85vh;
    background-color: rgba(50, 58, 75, 1);
    justify-items: center;
    align-content: center;
}


.contenedor-form-gestion{
    width: 30%;
    background-color: rgba(217, 217, 217, 1);
    box-sizing: border-box;
    padding: 3%;
    
}

.form-gestion{
    display: flex;
    flex-flow: column;
}

.etiqueta{
    margin-bottom: 3%;
}

.radio{
    transform: scale(1.7);
    box-sizing: border-box;
}

.entrada{
    all: unset;
    background-color: rgba(159, 153, 153, 1);
    padding: 1% 5%;
    margin-bottom: 3%;
    border-radius: 10px;
}

.contenedor-radio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    margin-bottom: 3%;
    box-sizing: border-box;
}

.contenedor-radio label{
    margin-left: 7%;
}

.guardar{
    width: 50%;
    padding: 5% 3%;
    margin-top: 10%;
    color: white;
    margin: 0 auto;
    border: none;
    border-radius: 999999px;
    background-color: rgba(50, 58, 75, 1);
}

.contacto{
    background-image: url(/img/contacto.jpg);
    color: white;
}

.contenedor-form-contacto{
    background-color: rgba(53, 87, 160, 1);
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
    padding: 5%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.form-contacto{
    width: 100%;
    display: flex;
    flex-flow: column;
}

textarea{
    background-color: rgba(159, 153, 153, 1);
    padding: 1% 3%;
    margin-bottom: 3%;
    border-radius: 10px;
    border: none;
    color: white;
}

.contenedor-mensaje{
    justify-items: center;
    padding: 5% 0;
    width: 100%;
    height: 100%;
}

.contenedor-mensaje p{
    max-width: 90%;
    text-align: center;
    font-size: 150%;
}

.contenedor-medios{
    text-align: center;
    padding: 2%;
    width: 100%;
    background-color: rgba(34, 87, 202, 0.9);
}

.contenedor-titulo{
    justify-items: center;
    align-content: center;
    padding: 3%;
    width: 100%;
    background-color: rgba(34, 87, 202, 1);
    margin-bottom: 4%;
    margin-top: 5%;
}

.contenedor-panel{
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    padding: 2%;
    gap: 1%;
    place-items: center;
    background: linear-gradient(to bottom, white, rgba(56, 77, 107, 1))
}

.form-cont{
    align-self: flex-start !important;
    width: 100%;
    max-height: 100%;
    border-radius: 15px;
    background-color: rgba(53, 87, 160, 1);
    padding: 6% 5%;
}

.form-cont form{
    color: white;
    display: flex;
    flex-direction: column;
}

.fechas-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    column-gap: 5%;
    max-width: 100%;
}

.entrada-ing{
    all: unset;
    background-color: rgba(43, 45, 51, 1);
    padding: 3% 5%;
    margin-bottom: 10%;
    border-radius: 9999999px;
    margin-top: 4%;
    max-width: 100%;
}

.btn-panel{
    all: unset;
    background-color: rgba(34, 87, 202, 1);
    border-radius: 1000000px;
    border: 2px solid white;
    max-width: 100%;
    padding: 3% 5%;
    text-align: center;
}

.btn-crud{
    width: 100% !important;
    background-color: rgba(53, 87, 160, 1) !important;
    color: white;
}

.cont-tabla{
    width: 100%;
    max-height: 100%;
    align-self: flex-start !important;
    color: white;
    overflow-y: auto;
    border-radius: 15px;
}

.actions{
    background-color: rgba(34, 87, 202, 1);
    width: 100%;
    height: 15%;
    max-height: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
    place-items: center;
    padding: 0;
    padding: 3%;
    gap: 4%;
}

.actions p{
    margin: 0;
}

.tabla{
    width: 100%;
    max-height: 100%;
    background-color: rgba(59, 77, 117, 1);
    border-collapse: collapse;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th, td {
    padding: 2%;
    text-align: left;
    border-bottom: 2px solid black;
}

.tr:hover{
    transition: 0.5s;
    background-color: rgba(59, 60, 117, 1);
}

.card{
    padding: 3%;
}

.inf{
    width: 100% !important;
}

.agregar{
    width: 15% !important;
    position: absolute;
    top: 95%;
    transform: translateY(-100%);
}

.center{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    place-items: center;
}

.center2{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    place-items: center;
}