html, body {
    margin: 0;
    height: 100%;
}

.bg-dark {
    background-color: rgba(43, 45, 51, 1);
}

header {
    width: 100%;
    height: 15%;
    color: white;
    align-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.navegador {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 0.1fr;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.nav-logo {
    align-content: center;
    justify-self: center;
}

.nav-lista {
    list-style: none;
    display: flex;
    padding: 0;
    column-gap: 4%;
    margin-left: 4%;
    margin-bottom: 0;
    align-self: center;
    grid-template-rows: 100%;
}

.nav-lista a {
    text-decoration: none;
    color: inherit;
    font-size: clamp(20px, calc(0.5em + 1vw), 1.7rem);
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-lista a:hover {
    color: #00bcd4;
    transform: scale(1.05);
}

.logo {
    min-width: calc(50% + 1vw);
    min-height: calc(40% + 1vh);
    max-width: calc(100% + 1vw);
    max-height: calc(100% + 1vh);
    border-radius: 50%;
    object-fit: contain;
}

.contenedor-pefil {
    grid-column: 4;
    margin-right: 10%;
    display: grid;
    place-items: center;
}

.quienes-somos {
    background-image: url("/img/quienes-somosBG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

